{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Соцсеть</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-text">
            {% if not request.user.is_authenticated %}
                <div class="text-center">
                    <a href="{% url 'login' %}" class="btn btn-info">Войти</a>
                    <a href="{% url 'register' %}" class="btn btn-primary">Регистрация</a>
                </div>
            {% else %}
                <div class="text-center">
                    <span class="btn btn-info">{{ request.user.username }}</span>
                    <a href="{% url 'logout' %}" class="btn btn-danger">Выйти</a>
                    <a href="{% url 'friends' %}" class="btn btn-info">Друзья</a>
                    <a href="{% url 'users' %}" class="btn btn-info">Пользователи</a>
                </div>
            {% endif %}
        </span>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>