{% extends 'base.html' %}
{% load static %}
{% load friendshiptags %}
{% block content %}
    <div class="container content">
        <h2 class="text-center">Список друзей</h2>
        {% if friends %}
            <table class="table">
                {% for user in friends %}
                    <thead>
                        <tr>
                            <td><h4>{{user.username}}</h4></td>
                            <td><h4>{{user.first_name}}</h4></td>
                            <td><h4>{{user.last_name}}</h4></td>
                            <td><h4>{{user.email}}</h4></td>
                        </tr>
                    </thead>
                {% endfor %}
            </table>
        {% else %}
            <h3 class="text-center">Нет друзей</h2>
        {% endif %}
    </div>
{% endblock %}