{% extends 'base.html' %}
{% load static %}
{% load friendshiptags %}
{% block content %}
    <div class="container content">
        <h2 class="text-center">Список пользователей</h2>
        {% if users %}
        <table class="table">
            {% for user in users %}
                {% if user != request.user %}
                    <thead>
                        <tr>
                            <td><h4>{{user.username}}</h4></td>
                            {% if user not in friends %}
                                <td><a href="{% url 'add_friend' user.username %}" class="btn btn-primary">Добавить</a></td>
                            {% else %}
                                <td><span class="badge badge-pill badge-success">Уже ваш друг</a></td>
                            {% endif %}
                        </tr>
                    </thead>
                {% endif %}
            {% endfor %}
        </table>
        {% endif %}
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="badge badge-pill badge-{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}